:root.theme-dark {
  --main-background-color: #000028;
  --accent--background-color: #ff0070;
  --main-color: #f1b2ce;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --title-color: #ff0070;
  --button-color: #ff0070;
  --button-color-hover: rgba(255, 0, 112, 0.4);
  --main-title-color: #db00ff;
  --shadow-color: #ff0070;
  --accent-shadow-color: #ff0070;
  --focus-visible-color: #f1b2ce;
  --title-decor-color: #000028;
}

.page.theme_dark {
  --main-background-color: #000028;
  --accent--background-color: #ff0070;
  --main-color: #f1b2ce;
  --accent-color: #ff0070;
  --decor-color: #ff0070;
  --title-color: #ff0070;
  --button-color: #ff0070;
  --button-color-hover: rgba(255, 0, 112, 0.4);
  --main-title-color: #db00ff;
  --shadow-color: #ff0070;
  --accent-shadow-color: #ff0070;
  --focus-visible-color: #f1b2ce;
  --title-decor-color: #000028;
  background-image: url(../images/cover-image-dark.png);
}
