.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  --main-background-color: #fff1f7;
  --accent--background-color: #ff8dcb;
  --main-color: #353430;
  --accent-color: #ff8dcb;
  --decor-color: #353430;
  --title-color: #353430;
  --button-color: #353430;
  --button-color-hover: rgba(50, 49, 45, 0.4);
  --main-title-color: #ffc2e6;
  --shadow-color: #ff8dcb;
  --accent-shadow-color: #ff0070;
  --focus-visible-color: #353430;
  --title-decor-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --main-background-color: #fff1f7;
    --accent--background-color: #ff8dcb;
    --main-color: #353430;
    --accent-color: #ff8dcb;
    --decor-color: #353430;
    --title-color: #353430;
    --button-color: #353430;
    --button-color-hover: rgba(50, 49, 45, 0.4);
    --main-title-color: #ffc2e6;
    --shadow-color: #ff8dcb;
    --accent-shadow-color: #ff0070;
    --focus-visible-color: #353430;
    --title-decor-color: #353430;
  }
  .page {
    background-image: url(../images/cover-image-light.png);
  }
  .header__decoration-element {
    display: none;
  }
}

.theme_light .header__decoration-element {
  display: none;
}
